.introduction{
    text-align:center;
    margin-top: 10%;
}

.introduction span{
    display: block;
    animation: text 3s 1;
    animation-fill-mode: forwards;
}

.introductionText{
    font-size: 80px;
    color:black;
    letter-spacing: -50px;
    font-weight: 400;
    position: relative;
    margin-bottom: -60px;
}

@keyframes text {
    0%{
        letter-spacing: -30px;
    }
    25%{
        letter-spacing: 18px;
    }
    70%{
        letter-spacing: 1px;
        margin-bottom: -3px;
        color: black;
    }
    100%{
        letter-spacing: 1px;
        margin-bottom: -3px;
        color:black;
    }
}

#contact{
    border: 1px solid black;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2019-bmw-330i-123-1567012839.jpg?crop=1xw:1xh;center,top&resize=980:*);
    background-size: cover;
    padding: 20px 20px;
}

#contact h1{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.seperate{
    width: 50%;
    height: 6px;
    background: red;
    margin: 40px 25% 70px;
}

.contactForm{
    display: block;
    width: 20%;
    box-sizing: border-box;
    margin: 20px 10%;
    bordeR: 0;
    max-width: 600px;
    background: #111;
    padding: 25px;
    color: white;
    transition: width 0.5s ease-in-out;
}


.contactForm:focus{
    box-shadow: 0 0 10px 4px #295078;
    width: 100%;
}


#textArea{
    resize: none;
    padding: 40px 20px;
}

#submit{
    color: white;
    background-color: #809EEC;
    float:right;
    margin-right: 12%;
    border: 0;
    padding: 15px 50px;
    margin-top: -67px;
    border-radius: 20px;
    transition: 0.5s
}

#submit:hover{
    background-color: rgb(64, 112, 236);
}