*{
    margin: 0;
    padding: 0;
}

.header img{
    height: 50px;
}

#nav-bar {
    list-style-type: none;
    position: fixed;
    overflow: hidden;
    margin: 0;
    top: 0;
    padding: 0;
    height: auto;
    width: 100%;
    line-height: 10px;
    border: 1px solid black;
    background-color: #312E2E;
    z-index: 2;
}

#nav-bar>li {
    float: left;
}

#nav-bar>li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 24px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid #12120F;
}

.active{
    background-color: green;
}

#nav-bar>li a:hover:not(.active){
    background-color: black;
    color: white;
}

#nav-bar>li:last-child{
    float: right;
}

#nav-bar>li:last-child a{
    border-right: none;
    border-left: 1px solid #12120F;
}


/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rp-bentley-continental-gt-v8-20-2-1570633139.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh; 
}

.contact{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0,0,0,0,8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px;
}
.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg{
    width: 48%;
}

.input-fields .input,
.msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}

.msg textarea{
    height: 212px;
}

.aa{
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px){
    .contact-form{
        flex-direction: column;
    }
    .msg textarea{
        height: 80px;
    }
    .input-fields,
    .msg{
        widows: 100%;
    }
} */