*{
    margin: 0;
    padding: 0;
}

nav img{
    height: 50px;
}

nav ul {
    list-style-type: none;
    float: left;
    position: fixed;
    width: 100%;
    line-height: 10px;
    border: 1px solid black;
    background-color: #312E2E;
    z-index: 2;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 24px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid #12120F;
}

.active{
    background-color: green;
}

nav ul li a:hover:not(.active){
    background-color: black;
    color: white;
}

nav ul li:last-child{
    float: right;
}

nav ul li:last-child a{
    border-right: none;
}

nav ul li ul{
    display: none;
    position: absolute;
}

nav ul li ul li{
    width: 108px;
}

nav ul li ul li a{
    padding: 20px 24px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li a:hover{
    background-color: black;
}

.first-container{
    margin: 0;
}

.first-container img{
    width: 100%;
    height: 400px;
}

.textMid{
    color: white;
    position: relative;
    bottom: 225px;
    text-align: center;
    font-size: 42px;
    font-family: 'lobster' cursive;
    z-index: 1;
    text-transform: uppercase;
}

.underline{
    border-bottom: 1px solid #7B7B63;
    width: 92%;
    margin-left: 4%;
}

.addition{
    background-color: #E0DCDC;
    height: 100px;
    margin-bottom: 7%;
}

.additionText{
    font-size: 35px;
    margin-top: 5%;
    text-align: center;
    padding-top: 3%;
}

#second-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#second-container > div{
    width: 300px;
    height: 230px;
}

#second-container img{
    width: 300px;
    height: 230px;
}

#second-container > div > a{
    text-decoration: none;
    color: black;
}

#second-container > div > a > h3{
    text-align:center;
}

.underlineMain{
    width: 80%; 
    margin-bottom: 3%;
    margin-left: 5%;
    border:1px solid grey;
}

#firstMain a:hover .underlineMain{ 
    border: 1px solid #FD1616;
}

#secondMain a:hover .underlineMain{ 
    border: 1px solid #FF9C05;
}

#thirdMain a:hover .underlineMain{ 
    border: 1px solid  #059EFF ;
}

#slider{
    text-decoration: none;
}

#mainPhoto{
    width: 50%;
    height: 70%;
    margin-left: 25%;
}

.horizontalUnderlines{
    width: 80%;
    margin-left: 10%;
}

#topUnderline{
    border-top: 2px solid blue;
    margin-bottom: 2%;
}

#bottomUnderline{
    border-bottom: 2px solid blue;
    margin-top: 30px;
}


.POTM{
    margin-left: 39%;
    margin-bottom: 2%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

.text{
    text-align:center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20%;
    margin-right: 20%;
}
footer{
    background-color: white;
}

#supportPage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer img{
    width: 60px;
    height: 45px;
}

#lastText{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

#lastText li{
    margin-bottom: 50px;
}

#lastText li a{
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.instagramPage img{
    width: 70px;
    height: 50px;
}

#supportPage img{
    transition: .2s linear;
}

#supportPage img:hover{
    border-radius: 50px;
    transform: scale(1.3);
}