*{
    margin: 0;
    padding: 0;
}

nav img{
    height: 50px;
}

nav ul {
    list-style-type: none;
    float: left;
    position: fixed;
    width: 100%;
    line-height: 10px;
    border: 1px solid black;
    background-color: #312E2E;
    z-index: 2;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 24px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid #12120F;
}

.active{
    background-color: green;
}

nav ul li a:hover:not(.active){
    background-color: black;
    color: white;
}

nav ul li:last-child{
    float: right;
}

nav ul li:last-child a{
    border-right: none;
}

nav ul li ul{
    display: none;
    position: absolute;
}

nav ul li ul li{
    width: 108px;
}

nav ul li ul li a{
    padding: 20px 24px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li a:hover{
    background-color: black;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    position: relative;
    top: 110px;
}

#contact{
    border: 1px solid black;
    background-image: url(https://astronomy.com/-/media/Images/News%20and%20Observing/Sky%20this%20Week/STW%202020/April/MarsJupiterSaturn.jpg?mw=600https://astronomy.com/-/media/Images/News%20and%20Observing/Sky%20this%20Week/STW%202020/April/MarsJupiterSaturn.jpg?mw=600);
    background-size: cover;
    padding: 20px 10px;
    height: 900px;
}

#contact h1{
    text-align: center;
    position: relative;
    color: white;
    font-size: 50px;
    top: 50px;
    margin-bottom: 12%;
}

.contactForm{
    display: block;
    width: 80%;
    box-sizing: border-box;
    margin: 30px 20%;
    border: 0;
    max-width: 600px;
    background: #111;
    padding: 20px;
    color: white;
    transition: width 0.5s ease-in-out;
}

.labels{
    position: relative;
    top: 30px;
    margin: 0 20%;
    font-size: 25px;
    text-align: center;
    color: white;
    border: 0;
}

.submit{
    color: white;
    background-color: #809EEC;
    float:right;
    margin-right: 19%;
    border: 0;
    padding: 15px 50px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s
}

.submit:hover{
    background-color: rgb(64, 112, 236);
}



#contact a{
    text-decoration: none;
    color: white;
    margin-left: 20%;
    font-size: 20px;
}